.footer{
    margin-top: 30px;
    padding: 10px;
    color: #fff;
    background-color: #9A7AA0;
}
.tablehead {
    background-color: #9A7AA0;
}

.jumbotron {
    background: url('images/peony.jpg');
    background-size: cover;
    width: 100%;
    color: #22223B !important;
    padding: 30px !important;
    margin: 20px !important;

}

body {
    padding: 70px !important;
}

p {
  text-indent: 30px;
}
h1, h2, p {
    color: #22223B !important;
}
button, btn {
    background: #DB5ABA !important;
}